.header-nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
}
.logo-pic {
  height: 80px;
  margin-left: 10px;
}
.header-nav ul {
  float: right;
  margin-right: 20px;
}
.header-nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.header-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding: 7px 20px;
  border-radius: 3px;
  font-size: 15pt;
  text-transform: uppercase;
}
.header-nav ul li a:hover {
  border-bottom: 3px solid #f1710e;
  transition: 0.1s;
}
#cart-div {
  display: none;
  width: 400px;
  background-color: rgb(243, 242, 242);
  position: absolute;
  top: 80px;
  right: 20px;
  color: black;
  border-radius: 20px;
}
#cart-div h1 {
  text-align: center;
}
.inner-cart-div {
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.inner-cart-div img {
  width: 50px;
  height: 50px;
  padding: 20px;
  margin-right: 20px;
}
.fa-shopping-cart {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
#shopping-cartM {
  display: none;
}
.description-div h4 {
  font-size: 12pt;
  padding-top: 10px;
  color: rgb(136, 76, 76);
  font-family: Arial, Helvetica, sans-serif;
}
.fa-remove {
  position: absolute;
  left: 4px;
  top: 4px;
}
.inner-cart-div i {
  width: 20px;
  padding: 1px;
}
.fa-remove:hover {
  color: red;
  background-color: black;
  border-radius: 25px;
}
#login {
  padding: 2px 30px;
  border: 2px solid black;
  border-radius: 40px;
}
#login:hover {
  background-color: #f1710e;
  color: black;
  border: none;
  font-size: 17pt;
  transition: 0.4s;
  cursor: pointer;
}
.checkbtn {
  font-size: 30px;
  color: #f1710e;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 20px;
}
#check {
  display: none;
}
.empty-cart {
  text-align: center;
  border-top: 1px solid black;
}
@media only screen and (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .header-nav ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffdebb;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  .header-nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #shopping-cart {
    display: none;
  }
  #shopping-cartM {
    display: block;
    position: absolute;
    right: 70px;
    top: 27px;
  }
  .header-nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #cart-div {
    width: 375px;
    top: 80px;
    right: 0px;
    z-index: 1;
  }
}
