@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'OitaW01-CondDemiItalic';
  src: url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.eot'); /* IE9*/
  src: url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.woff2')
      format('woff2'),
    /* chrome firefox */
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.woff')
      format('woff'),
    /* chrome firefox */
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.ttf')
      format('truetype'),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.svg#OitaW01-CondDemiItalic')
      format('svg'); /* iOS 4.1- */
}
* {
  margin: 0;
  padding: 0;
  font-family: 'OitaW01-CondDemiItalic';
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*body*/
body {
  width: 100%;
  height: 100%;
}
.photo-div {
  width: 100%;
  height: 100vh;
  background-image: url('../photos/personal-training.png');
  background-attachment: fixed;
  background-position: center;
  filter: brightness(0.34);
}
.first-container {
  width: 800px;
  height: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  color: aliceblue;
}
.intro-div {
  width: 800px;
  color: aliceblue;
  text-align: center;
}
.intro-div h1 {
  margin-bottom: 30px;
  font-size: 44pt;
  border-bottom: 1px solid whitesmoke;
  color: #f1710e;
}
.intro-div p {
  font-size: 13pt;
}
.programes-div {
  display: flex;
  flex-direction: row;
}
.first-ul {
  padding-right: 70px;
}
.first-ul ul li p,
.second-ul ul li {
  font-size: 13pt;
}
.first-ul ul li,
.second-ul ul li {
  list-style: none;
  padding: 3px;
}
.first-ul ul li h1,
.second-ul ul li h1 {
  font-size: 30pt;
  border-bottom: 2px solid white;
  color: #f1710e;
}
.first-ul ul li h2 {
  color: #f1710e;
}
.trainers-inner {
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.trainers-div div h1 {
  text-align: center;
  padding: 30px;
  font-size: 40pt;
  color: #f1710e;
}
.trainer {
  max-height: 290px;
  background-color: #ffd2a2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-left: 20px;
  border-radius: 20px;
}
.trainers-div div ul li {
  list-style: none;
  text-align: center;
  padding: 5px;
}
.trainer span img {
  width: 170px;
  height: 170px;
  border-radius: 20px;
}
.book-trainer {
  width: 80px;
  height: 30px;
  font-size: 13pt;
  background-color: #f1710e;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.book-trainer:hover {
  width: 120px;
  height: 33px;
  opacity: 0.9;
  transition: 0.3s;
  font-size: 16pt;
  font-weight: bold;
  cursor: pointer;
}
/*footer*/

.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(243, 242, 234);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12pt;
}
.fa {
  font-size: 25px !important;
  width: 50px;
  text-decoration: none;
  color: black;
}
.fa:hover {
  opacity: 0.7;
}
