* {
  margin: 0;
  padding: 0;
  font-family: 'OitaW01-CondDemiItalic';
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*body*/
.photo-div {
  width: 100%;
  height: 100vh;
}
.first-container {
  width: 100%;
  height: 700px;
  color: aliceblue;
  background-image: url('../photos/personal-training.png');
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-div {
  width: 90%;
  color: aliceblue;
  text-align: center;
}
.intro-div h1 {
  margin-bottom: 30px;
  font-size: 44pt;
  border-bottom: 1px solid whitesmoke;
  color: #f1710e;
}
.intro-div p {
  font-size: 13pt;
}
.programes-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.first-ul {
  padding-right: 70px;
}
.first-ul span p,
.second-ul span p {
  font-size: 13pt;
}
.first-ul span,
.second-ul span p {
  list-style: none;
  padding: 0;
}
.first-ul span h1,
.second-ul span h1 {
  font-size: 35pt;
  border-bottom: 2px solid white;
  color: #f1710e;
}
.first-ul span h2 {
  font-size: 15pt;
  color: #f1710e;
}
.trainers-div {
  width: 100%;
}
.trainers-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.trainers-div div h1 {
  text-align: center;
  padding: 10px;
  font-size: 40pt;
  color: #f1710e;
}
.trainer {
  max-height: 290px;
  background-color: #ffd2a2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trainer span {
  list-style: none;
  text-align: center;
  padding: 5px;
}
.trainer span img {
  width: 170px;
  height: 170px;
  border-radius: 20px;
}
.book-trainer {
  width: 80px;
  height: 30px;
  font-size: 13pt;
  background-color: #f1710e;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.book-trainer:hover {
  width: 120px;
  height: 33px;
  opacity: 0.9;
  transition: 0.3s;
  font-size: 16pt;
  font-weight: bold;
  cursor: pointer;
}
/*footer*/

.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(243, 242, 234);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14pt;
}
.fab {
  font-size: 25px;
  width: 50px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}
.fab:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 768px) {
  .first-container {
    width: 100vw;
    height: 900px;
  }
  .intro-div h1 {
    font-size: 20pt;
  }
  .first-ul span h1,
  .second-ul span h1 {
    font-size: 20pt;
  }
  .first-ul span p,
  .second-ul span p {
    font-size: 12pt;
  }
  .first-ul span p {
    border-bottom: 1px solid rgb(165, 165, 165);
    padding: 10px;
  }
  .programes-div {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  .first-ul {
    padding: 0;
  }
  .trainer {
    width: 190px;
    min-height: 170px;
    margin: 20px;
  }
  .trainer span img {
    width: 120px;
    height: 120px;
  }
  .trainers-inner {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .trainers-div div h1 {
    border-bottom: 2px solid #f1710e;
  }
  .footer {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 375px) {
  .first-container {
    height: 1100px;
  }
}
