@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'OitaW01-CondDemiItalic';
  src: url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.eot'); /* IE9*/
  src: url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.woff2')
      format('woff2'),
    /* chrome firefox */
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.woff')
      format('woff'),
    /* chrome firefox */
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.ttf')
      format('truetype'),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url('http://db.onlinewebfonts.com/t/dbf69272e2482b8d0f1fc45d9f9a45b8.svg#OitaW01-CondDemiItalic')
      format('svg'); /* iOS 4.1- */
}* {
  margin: 0;
  padding: 0;
  font-family: 'OitaW01-CondDemiItalic';
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*shop*/
body {
  background-color: #ffdebb;
}
.shop-container h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 40pt;
  color: #f1710e;
  background-color: #ffdebb;
  border-radius: 100px;
}
.shop-container h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  text-align: left;
  font-size: 25pt;
  color: #f1710e;
}
.shop-container {
  max-width: 63%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.protein-img {
  width: 50px;
}
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.protein-prod {
  width: 80px;
  margin: 30px;
}
.prod h3 {
  font-size: 9pt;
  font-weight: 500;
}
.prod h4 {
  font-size: 14pt;
  padding-top: 10px;
  color: rgb(136, 76, 76);
  font-family: Arial, Helvetica, sans-serif;
}
.equipment-prod {
  margin: 10px;
}
.equipment-img {
  width: 260px;
  height: 240px;
}
.prod button {
  width: 80px;
  height: 30px;
  margin: 10px;
  padding: 0;
  font-size: 10pt;
  background-color: #f1710e;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.prod button:hover {
  height: 40px;
  opacity: 0.9;
  transition: 0.2s;
  font-size: 11pt;
  font-weight: bold;
  cursor: pointer;
}
/*footer*/

.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(243, 242, 234);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14pt;
}
.fa {
  font-size: 25px;
  width: 50px;
  text-decoration: none;
  color: black;
}
.fa:hover {
  opacity: 0.7;
}
